[flake8]

# Configuration compatible with Bessa Research Group Python Coding Style
#
# Version: December 6, 2022


# >>> UPDATE ACCORDING WITH YOUR PYTHON PROJECT

# Exclude (additional) glob patterns from checks:
extend-exclude =
	.tox,
    __pycache__,
    dist,
    data,
	*.egg,
	docs,
	notebooks,
	tests
	.git
	src/f3dasm/simulation/abaqus/ExampleFlower

# <<< UPDATE ACCORDING WITH YOUR PYTHON PROJECT


# Print the total number of errors
count = True

# Set the maximum length that any line may be
max-line-length = 119

# Set the maximum length that a comment or docstring line may be
max-doc-length = 119

# Set the number of spaces used for indentation
indent-size = 4

# Print the source code generating the error/warning in question
show-source = True

# Set the maximum allowed McCabe complexity for a block of code
max-complexity = 15

# List of (additional) codes to ignore:
# E3:   Blank lines
#       Remark: Use the appropriate delimiters if not following PEP8!
# E226: Missing whitespace around arithmetic operator
#       Remark: Flake8 does not distinguish +, - from *, /, ** cases yet.
# MvdS: I added F841: local variable is assigned to but never used
# Mvds: I added F401 and F403 related to stsar imports
extend-ignore = E226, E3, F841, F401, F403

# List of (additional) error codes to check:
# E241 : Multiple spaces after ‘,’
# E242 : Tab after ‘,’
# E704 : Multiple statements on one line (def)
# W504 : Line break after binary operator
# W505 : Doc line too long (82 > 79 characters) 
extend-select = E241, E242, E704, W504, W505