# ignore the files with these extensions
*.pickle
*.csv
*.xlsx
*.gif
*.inp
*.odb
*.rec
*.cae
*.pac
*.stt
*.prt
*.mdl
*.abq
*.mdl
*.pyc
*.rpy
*.rpy.*
*.log
*.dmp

# ignore all the directories __pychache__
**/__pycache__/
example_supercompressible_3d
example_supercompressible_3d_circular
example_supercompressible_3d_pics
example_supercompressible_7d