# ignore the files with these extensions
*.csv
*.xlsx
*.gif
*.inp
*.odb
*.rec
*.cae
*.pac
*.stt
*.prt
*.mdl
*.abq
*.mdl
*.pyc
*.rpy
*.rpy.*
*.log
*.dmp
*.rar
*.pkl

# ignore all the directories __pychache__
**/__pycache__/
simulation*/
library_UDG_INEGI
**/*.ipynb_checkpoints