numpy>=1.23.5
scipy>=1.9.3
pandas>=1.5.2
matplotlib>=3.6.2
SALib>=1.4.6.1
hypothesis>=6.60.0
GPyOpt>=1.2.6
GPy>=1.10.0
autograd
numdifftools>=0.9.41
tensorflow>=2.11.0
pathos>=0.3.0
pytest>=7.2.0
pygmo>=2.16.1
scikit-learn
hydra-core>=1.2.0
hydra>=2.5
seaborn>=0.6.2