# Core package requirements
-r ./requirements.txt

# All extensions
-r ./requirements/sampling.txt 
-r ./requirements/machinelearning.txt 
-r ./requirements/optimization.txt

# Linting
flake8

# Testing
-r ./tests/requirements.txt

# Documentation
-r ./docs/requirements.txt

# Building
setuptools>=43.0.0
build
wheel