numpy
scipy
pandas
matplotlib
SALib
hypothesis
GPyOpt>=1.2.6
GPy>=1.10.0
autograd
numdifftools>=0.9.41
tensorflow>=2.11.0
pathos>=0.3.0
pytest>=7.2.0
scikit-learn
hydra-core>=1.2.0
seaborn>=0.6.2
pygmo; platform_system == "Linux"