appdirs==1.4.4
atpublic==0.5
attrs==17.4.0
backcall==0.1.0
bleach==3.1.0
cached-property==1.5.2
cftime==1.3.0
cycler==0.10.0
dataclasses==0.8
decorator==4.1.2
defusedxml==0.6.0
entrypoints==0.3
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-dolfin==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
flufl.lock==3.2
gmsh==4.7.1
gmshModel @ git+https://github.com/taylanot/gmshModel.git@26a109fd43b086fc83e6a79c6304cc18d6e0fa50
h5py==3.1.0
imageio==2.9.0
importlib-metadata==1.3.0
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.2
Jinja2==2.10.3
json5==0.8.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.4
jupyterlab-server==1.0.6
kiwisolver==1.1.0
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.1.2
meshio==4.3.8
mistune==0.8.4
more-itertools==8.0.2
mpi4py==3.0.3
mpmath==1.1.0
mshr==2019.1.0
nbconvert==5.6.1
nbformat==5.0.3
netCDF4==1.5.5
notebook==6.4.10
numpy==1.19.5
olefile==0.45.1
pandas==1.1.5
pandocfilters==1.4.2
parso==0.5.2
petsc4py==3.12.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.3.2
pkgconfig==1.5.1
pluggy==0.6.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.5.2
pybind11==2.2.4
Pygments==2.5.2
pygobject==3.26.1
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==3.3.2
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.1
pytz==2020.5
pyvista==0.27.4
pyzmq==18.1.1
qtconsole==4.6.0
SALib==1.3.12
scipy==0.19.1
scooby==0.5.6
Send2Trash==1.5.0
six==1.11.0
slepc4py==3.12.0
style==1.1.0
sympy==1.1.1
terminado==0.8.3
testpath==0.4.4
torch==1.7.1+cpu
torchaudio==0.7.2
torchvision==0.8.2+cpu
tornado==6.0.3
tqdm==4.56.0
traitlets==4.3.3
typing-extensions==3.7.4.3
update==0.0.1
urllib3==1.26.5
vtk==9.0.1
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==0.6.0
