name: Pull request to main branch

on:
  pull_request:

jobs:
  run-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: ["3.10", "3.11", "3.12", "3.13"]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[test,all]'

      - name: Test with pytest
        run: |
          pytest
  build-docs:
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: ["3.10"]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[docs]'
      - name: Build documentation
        run: |
          mkdocs build
  check_pre-commit:
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: ["3.10"]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version }}
      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[dev]'

      - name: Run pre-commit checks
        run: |
          pre-commit run --all-files
